<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\inetpub\wwwroot\proj\venv\Scripts\hypercorn.exe" arguments="--bind=127.0.0.1:%HTTP_PLATFORM_PORT% --workers=4 mysite.asgi:application" stdoutLogEnabled="true" stdoutLogFile="C:\inetpub\wwwroot\proj\logs\stdout" startupTimeLimit="60" processesPerApplication="16">
      <environmentVariables>
        <environmentVariable name="DJANGO_SETTINGS_MODULE" value="mysite.settings" />
        <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\proj" />
      </environmentVariables>
    </httpPlatform>
        <rewrite>
            <rules>
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url=".*" />
                    <conditions trackAllCaptures="true">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
</configuration>